{% extends "layout.html" %}
{% block content %}
<style>
    .search__container{
        display:none;
    }
</style>
{% if tiles == () %}
    <div class = "empty_page">
        <p> Hmm, you haven't saved any books yet </p>
    </div>
{% else %}
    <div class="tile_container">
        <ul>
            {% for tile in tiles %} 
                    <li>
                        <div class="tile">
                            <img class="list_img list" src="{{ tile['thumbnail'] }}" alt="">
                            <div class="list_text">
                                <p class="list_main"> {{ tile[0]}} </p>
                                <p> by {{ tile[1]}}</p>
                                <p> <a href="{{ tile[2] }}"> Find it here </a></p>
                                <p> Type: Book </p>
                            </div>
                            <button id="del{{ loop.index0 }}" type="submit" onclick="del_tile('book', {{ loop.index0 }}); return false;" name="add">Delete</button>
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<form method="POST" action="" id="delete">
    <input type="hidden" name="del_content" value=""/>
    <input type="hidden" name="del_type" value="" />
</form>
{% endblock content %}