<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
  <body>
    <nav class="navbar">
        <div class="container-fluid">
            <a href={{ home }}><h1 id="title">Your Media Hub</h1></a>
        </div>

        <div class="pages">
            <a href="{{ list_all }}"> All </a>
            <a href="{{ list_books }}"> Books </a>
            <a href="{{ list_movies }}"> Movies </a>
            <a href="{{ list_music }}"> Music </a>
            <a href="{{ list_anime }}"> Anime </a>
            <a href="{{ list_recipes }}"> Recipes </a>
            <a href="{{ logout }}"> Logout </a>
        </div>
    </nav>

    <div class="main">
        <div class="search__container">
            <div class="CardInner">
                <form method="POST" action="">
                    <div class="labels">
                            <span>Filter By:</span>
                            <button class="all labelbtn"  onclick="choose_type('all'); return false;">All</button>
                            <button class="books labelbtn" onclick="choose_type('books'); return false;">Books</button> 
                            <button class="movies labelbtn" onclick="choose_type('movies'); return false;">Movies</button>   
                            <button class="music labelbtn" onclick="choose_type('music'); return false;">Music</button>
                            <button class="anime labelbtn" onclick="choose_type('anime'); return false;">Anime</button>
                            <button class="recipes labelbtn" onclick="choose_type('recipes'); return false;">Recipes</button> 
                    </div>
                </form>
                <div id="search_bar_case">
                    <form method="POST" action="">
                        <div class="container">
                                <input class="search__input" name="search_bar" placeholder="Search for something"/>
                                <input type="hidden" name="list_type" value="all"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
  </body>
  <script>
      function choose_type(type)
      {
        document.getElementsByName('list_type')[0].value = type; 
        document.getElementsByName('search_bar')[0].placeholder = 'Search in ' + type; 
      }

      function add_tile(event, type, result)
      {
          document.getElementsByName("tile_content")[0].value = result;
          document.getElementsByName("type")[0].value = type;
          id = "save"+result;
          msg_id = "msg"+result;
          document.getElementById(id).style.backgroundColor = 'grey';

          //document.getElementById("add").submit();
          submitAdd(event, type, result);
      }

      function submitAdd(event, type, result){
        let xmlhttp = new XMLHttpRequest()
        xmlhttp.open("POST", window.location.href,true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("tile_content=" + result + "&type=" + type);

        event.preventDefault();
      }
  </script>
</html>