{% extends "layout.html" %}
{% block content %}
<style>
    .search__container{
        display:none;
    }
</style>
{% if tiles == [] %}
    <div class = "empty_page">
        <p> Hmm, you haven't saved any recipes yet </p>
    </div>
{% else %}
    <div class="tile_container">
        <ul>
            {% for tile in tiles %} 
                    <li>
                        <div class="tile">
                            <img class="list_img list" src="{{ tile['thumbnail'] }}" alt="">
                            <div class="list_text">
                                <p class="list_main"> {{ tile[0]}} </p>
                                <p> <a href="{{ tile[1] }}"> Find it here </a></p>
                                <p> Type: Recipe </p>
                            </div>
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock content %}